apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: agri
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
        containers:
        - name: backend
          image: ghcr.io/sairam290/agri-backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8085
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "prod"
            - name: MONGODB_URL
              value: "mongodb+srv://saigaming980_db_user:Vsram_555@mernlearn.1p0prwr.mongodb.net/?appName=mernlearn"
